.text-slider-items {
    display: none;
    font-family: 'Dancing Script', cursive;
    /*font-family: 'MonteCarlo', cursive;*/
}

.heading {
    text-align: center;
}

.heading h1 {
    color: red;
    font-size: 50px;
    font-family: 'MonteCarlo', cursive;
}

.heading h3 {
    color: black;
    font-size: 20px;
}